.search-container {
  position: relative;
  height: calc( 100vh - 50px );
  background-color: #f9f9f9;

  &__products {
    padding: 10px 10px 10px; 
    overflow: visible;
    overflow-x: hidden;
    height: calc( 100% - 56px );

    &__quantity {
      font-size: 14px;
      font-weight: 100;
      color: #b4b4b4;
    }

    &__article {
      &:hover {
        transition: 0.4s;
        transform: scale(1.02, 1.02);
        cursor: pointer;
      }
    }
  }
}