.product-card-container {
  position: relative;
  width: 90%;
  height: 500px;
  margin: 10px 5px;
  border: 0px solid rgba(0,0,0,0.08);
  transition: 0.6s;
  transform: translate(100%);

  &--rendered {
    animation: appear .5s;
    animation-timing-function: ease-out;
    transform: translate(0);
  }


  &__discount {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    text-align: center;
    background-color: #2e3235;
    color:#ffffff;
  }

  &__img {
    @include flex-centred;
    width: 100%;
    height: 85%;
    background-color: #ffffff;
    z-index: -1;
  }

  &__info {
    height: 15%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &__name {
      font-size: 14px;
      font-weight: 600;
    }

    &__price {
      margin-bottom: 4px;
    }
  }

  &:hover {
    transform: scale(1.08, 1.08);
    border: 1px solid rgba(0,0,0,0.06);
    box-shadow: 0.5px 0.5px 9px 3px rgba(0,0,0,0.03);
    cursor: pointer;
  }

  @media #{$BREAKPOINT-TABLET} {
    width: 330px;
    height: 450px;
    transform: translate(1000%);

    &--rendered {
      animation: appear .5s;
      animation-timing-function: ease-out;
      transform: translate(0);
    }
  }
}